html{
  width:100%;
}
.conj {
  top: 75px;
  left: 215px;
  position: relative;
  color: red;
  font-weight: bold;
}
td{
  border-style: solid;
  border-width: small;
}
.button{ 
  background-color: darkgray;
  border-radius: 12px;
  padding: 12px 28px;
  width: 99%;
}
.button2{
  border-radius: 12px;
  padding: 12px 28px;
  width: 35%;
}
body{
  background: #000;
  padding-top: 10px;
} 

p{
  color: black; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: black;
  text-decoration: none;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}