html{
  width:100%;
}

td{
  border-style: solid;
  border-width: small;
}

.button{ 
  background-color: darkgray;
  border-radius: 12px;
  padding: 12px 28px;
  width: 99%;
}

.button2{
  border-radius: 12px;
  padding: 12px 28px;
  width: 35%;
}

body{
  background: #000;
  padding-top: 10px;
} 

p{
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

#jumbo{
background-color: black;
width: 100%;
top: 0%;
}

#conj{
  margin-top: 16%;
  left: 93%;
  position: absolute;
  color: red;
  font-weight: bold;
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: black;
  text-decoration: none;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}